//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Poppins-Regular.woff2") format("woff2"), url("fonts/Poppins-Regular.woff") format("woff"),
  url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Poppins-SemiBold.woff2") format("woff2"), url("fonts/Poppins-SemiBold.woff") format("woff"),
  url("fonts/Poppins-SemiBold.ttf") format("truetype");
}


@media (min-width: 768px){
  .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .App-header {
    padding: 0;
  }
  .App-content {
    border-top: none;
  }
  .scrolled .App-header {
    box-shadow: none;
  }


}
.sideNav .Dropdown--select .Dropdown-menu>li>a .Button-icon {
  color:#9898A3 ;
}


.App {
  padding-top: 70px;

  .App-header{
    min-height: 60px;


  }

  header .container{
    padding-right: 70px;
    text-align: center;

  }

  .Header-title{
    padding-top: 15px;
    padding-left:25px ;
  }
  .Header-controls{
    padding-top: 10px;
  }
  .Button--link span{
    display: block;
    background-color: #1891E5;
    border-radius: 11px;
    color: white;
    align-items: center;
    padding: 10px;
    line-height: 21px;
    font-weight: 700;
  }

  @media (min-width: 992px){
    .sideNav{
      margin-right: 0px;
      width: 300px;

    }
    .sideNav ul{
      margin-top: 0px;
      padding: 10px;
      width: 100%;
      padding-top: 0px;
    }
    .Header-primary{
      display: none;
    }

  }
  .Button--primary {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 0;
    background-color: #FAFAFB;
    height: 67px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border: 1px solid #E5E5EC;
  }

  .Button-label{
    font-family:'Poppins', sans-serif;
  }

  .sideNavOffset{
    margin-top: 0px;
    background: #FAFAFB;
  }

  .Dropdown-separator{
    display: none;
  }
  .dropdown-menu li{
    margin: 10px 0 ;
    margin-left: 10px;
  }
  .dropdown-menu li span{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    margin-left: 5px;
  }
  .Placeholder p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #696974;
  }
}
.Modal-content{
  border-radius: 20px;
}

.Modal-header,
.Modal-footer{
  background-color: #E8F0FE;
}
.Modal-body{
  background-color:  #FFFFFF
}
.Modal-body .FormControl {
  background-color: #E8F0FE;
  color: #111;
}
.Form-group .checkbox{
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}
.Form-group .Button--block{
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #1891e5;
  border-radius: 10px;
}

.DiscussionList-discussions {
  padding-left: 20px;
}

.IndexPage-toolbar-action{
  margin-right: 10px;
}

.Composer-controls >li>button>span.Button-label,
.Composer-footer .TextEditor-toolbar  > button > span,
.Dropdown-menu--right .NotificationList .NotificationList-header .App-primaryControl > button >span{
  display: none;
}

.DiscussionPage-nav > ul > .item-controls,
.DiscussionPage-nav > ul >  .item-subscription{
  padding: 0 10px;
}


.Post .Post-header{

}

.ReplyPlaceholder{
  margin-left: 5px;
}

.PostStream{
  margin-left: 10px;
}
.Hero h2{
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins",sans-serif;
  color: white;
}

.Post--by-actor{
  margin-left: 10px;
}

.Composer-controls{
  margin-right: 30px;
}

.ComposerBody {
  padding-left: 10px;
}

.PostsUserPage-discussion{
  margin-left: 30px;
  margin-top: 15px;
}
.darkenBackground .container{
  padding-left: 10px;
}
.Post--by-actor .Post-header{
  min-height: 15px;
}
.Post-body{
  padding-right: 15px;
}

.TagTiles,
.TagCloud{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px !important;
}


@media (min-width: 767px){
  .TagTiles>li{
    display: block;
    float: none !important;
    margin-left: 20px;
    height: 166px !important;
    width: 300px !important;
    border-radius: 15px !important;
    margin-bottom: 15px !important;
  }
  .TagCloud .TagLabel {
    width: 228px;
    height: 65px;
    float: none !important;
    margin-left: 20px;
    border-radius: 15px !important;
    margin-bottom: 15px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .TagCloud .TagLabel .TagLabel-text{
    font-size: 16px;
  }
  .TagTile-name {
    text-align: center;
    font-size: 20px !important;
  }
  .TagTile-description{
    font-size: 14px !important;
  }
}


@media (max-width: 767px){
  .TagTiles{
    margin: 0 0 15px 0 !important;
    border-radius: 15px;
  }
  .TagTiles>li {
    display: block;
    float: none !important;
    margin-left: 20px;
    height: 166px !important;
    width: 300px !important;
    border-radius: 15px !important;
    margin-bottom: 15px !important;
  }
  .TagCloud .TagLabel{
    margin-bottom: 15px;
    width: 228px;
    height: 65px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .App .Button--primary{
    border: none;
    height: 46px;
  }
  .DiscussionList-discussions >li .DiscussionListItem .DiscussionListItem-content >span{
    margin-right: 1px;
  }

}

@media (max-width: 425px){
  .TagTiles>li,
  .TagCloud .TagLabel {
    margin-left: 0px;
  }
}


.UserCard-profile .username{
  color: white;
}

.TextEditor .App-primaryControl .Button--primary .Button-label{
  padding: 0 10px;
}

.DiscussionListItem .DiscussionListItem-controls{
  margin-right: 10px;
}

.Composer:not(.fullScreen) {
  margin-left: 0 ;
  margin-right: 0;

  //  border: 1px solid #000;
}

.Composer{
  margin-left: 300px !important;;
}
.Composer-controls {
  margin-right:10px;
}
.Composer.active  {
  // box-shadow: none !important;
  // border: 1px solid #4D698E;
}

.Hero{
  margin-bottom: 10px;
}

.ButtonGroup>ul{
  margin-right: 10px;
}
.WelcomeHero .container > button > span{
  display: none;
}

.Alert-controls >li .Button--link .Button-label>i{
  display: none;
}


